In [2]:
from src.GUI.Filters import *
from src.GUI.Tree import Tree
from src.GUI.gui import App
from src.GUI.FilterHandler import FilterHandler
from src.GUI.Menu import Menu
from src.Database.ScoobyDooDatabase import ScoobyDooDatabase
from src.Utils import *
from src.Entities import *

from mysql import connector
import warnings


warnings.filterwarnings('ignore')

%load_ext autoreload
%autoreload 2

In [3]:
main_db: ScoobyDooDatabase = ScoobyDooDatabase()

In [7]:
main_db.create_culprit(Culprit('test culprit 52', 'male'))

# print(main_db.create_culprit('test culprit 19', 'male')['culprit_id'][0])
# print(main_db.create_episode('test series 21', 9, 'test 9', 'test date 9', 9, 'FALSE', 'test motive 9'))
# main_db.refresh_cursor()
# sql = f'''CALL Create_Culprit('test culprit 16', 'male')'''

541

In [69]:
main_db.refresh_cursor()
sql = '''SELECT * FROM Culprits'''
pd.read_sql(sql, main_db.database)

     culprit_id         culprit_name culprit_gender
0             1          Mr. Wickles           Male
1             2        Cptn. Cuttler           Male
2             3  Bluestone the Great           Male
3             4                 Hank           Male
4             5          Buck Master           Male
..          ...                  ...            ...
500         508       test culprit 8           male
501         509       test culprit 9           male
502         536      test culprit 16           male
503         538      test culprit 17           male
504         539      test culprit 19           male

[505 rows x 3 columns]